.well
  -if current_user.has_role? :admin
    = f.input :user_id ,collection:User.all,  label_method: :name, value_method: :id ,wrapper_html:{class:"pull-left"}
  -elsif @case_detail.user_id.nil?
    =f.hidden_field :user_id, value: current_user.id
  -else
    =f.hidden_field :user_id
  = f.input :judge_id, collection:Judge.all, label_method: :to_s, value_method: :id,wrapper_html:{class:"pull-left offset1"}
  .cf
  = f.input :rcci,wrapper_html:{class:"pull-left"}
  = f.input :court_case_number,wrapper_html:{class:"pull-left offset1"}
  .cf
  = f.input :court_type_id , collection:CourtType.order(:name),label_method: :name,value_method: :id, include_blank:true
  = f.input :charge_ids , collection:Charge.order(:name) , include_blank: true,selected:"" , label_method: :name, value_method: :id, input_html: {data: {:placeholder=>"Choose charge(s)",class:"chzn-select"}, multiple: ""},:label => "Charge(s)"
  = f.input :date_of_offence, as: :string, input_html:{class: "datepicker"}
  = f.input :region_id, collection:Region.order(:name), label_method: :name, calue_method: :id,wrapper_html:{class:"pull-left"}
  = f.input :constituency_id, collection: Region.order(:name), as: :grouped_select,group_method: :constituencies ,wrapper_html:{class:"pull-left offset1"}
  .cf
  = f.input :date_reported, as: :string, input_html:{class: "datepicker"} ,wrapper_html:{class:"pull-left "}
  = f.input :date_submitted, as: :string, input_html:{class: "datepicker"}  ,wrapper_html:{class:"pull-left offset1"}
  .cf
  = f.input :action_taken, collection:[["Insufficient Evidence","Insufficient Evidence"],["Referred to SNC","Referred to SNC"],["Withdrawn","Withdrawn"]], wrapper_html:{class:"pull-left"}
  = f.input :comment, input_html:{class:"input-xlarge", rows:"4"},wrapper_html:{class:"pull-left offset1"}
  .cf
  = f.input :date_trial_commenced, as: :string, input_html:{class: "datepicker"} ,wrapper_html:{class:"pull-left "}
  = f.input :date_trial_concluded, as: :string, input_html:{class: "datepicker"} ,wrapper_html:{class:"pull-left offset1"}
  .cf