.well
  
  = f.input :comment, input_html:{class:"input-xxlarge", rows:"4"}
  = f.input :judgment
  = f.input :sentence
  = f.input :reason_for_acquittal,input_html:{class:"input-xxlarge", rows:"4"}
  = f.input :judge_remarks,input_html:{class:"input-xxlarge", rows:"4"}
  .cf