= simple_form_for @appeal, :html => { :class => 'form-horizontal' } do |f|
  = f.input :accused_id
  = f.input :case_detail_id
  = f.input :court_type
  = f.input :case_number
  = f.input :prosecutor
  = f.input :representative
  = f.input :received_on
  = f.input :commenced_on
  = f.input :concluded_on
  = f.input :grounds_for
  = f.input :conviction_appeal_allowed
  = f.input :conviction_appeal_disallowed
  = f.input :sentence_appeal_allowed
  = f.input :sentence_appeal_disallowed
  = f.input :conviction_disallowed_reason
  = f.input :sentence_disallowed_reason
  = f.input :new_sentence
  = f.input :judge_remarks
  .form-actions
    = f.button :submit, :class => 'btn-primary'
    = link_to t('.cancel', :default => t("helpers.links.cancel")), appeals_path, :class => 'btn'
