= simple_form_for @case_escalation, :html => { :class => 'form-horizontal' } do |f|
  = f.input :case_detail_id
  = f.input :user_id
  = f.input :approved_on
  = f.input :approved
  .form-actions
    = f.button :submit, :class => 'btn-primary'
    = link_to t('.cancel', :default => t("helpers.links.cancel")), case_escalation_path, :class => 'btn'
