- model_class = CaseEscalation
.page-header
  %h1=t '.title', :default => model_class.model_name.human.pluralize

=form_tag  approve_case_escalations_path, :method=>:put do
  %table#case_escalation.table.table-striped
    %thead
      %tr
        %th
        %th Court Case Number
        %th Region
        %th Requesting Prosecutor
        %th Current Prosecutor


    %tbody
      - @case_escalations.each do |case_escalation|
        %tr
          %td= check_box_tag "escalation_id[]", case_escalation.id
          %td= link_to case_escalation.case_detail.court_case_number, case_detail_path(case_escalation.case_detail),class: "btn btn-mini"
          %td= case_escalation.case_detail.region
          %td= case_escalation.user.name
          %td= case_escalation.case_detail.user.name
          
            
  = submit_tag "Approve", :name=>"approve", class: "btn btn-primary"
  = submit_tag "Deny", :name=>"deny", :class=> "btn btn-danger",data:{confirm:"Are you sure you want to deny these cases?"}

